.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card {
    background-color: rgba(107, 66, 30, 0.4);
    width: 282px;
    height: 417px;
    margin: 10px auto 10px auto;
    text-align: center;
    border-radius: 20px;
}